<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    
		<script src="/views/js/jquery.min.js"></script>
		<script src="/views/js/skel.min.js"></script>
		<script src="/views/js/skel-layers.min.js"></script>
		<script src="/views/js/init.js"></script>
		
			<link rel="stylesheet" href="/views/css/skel.css" />
			<link rel="stylesheet" href="/views/css/style.css" />
			<link rel="stylesheet" href="/views/css/style-xlarge.css" />
  
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html"></a></h1>
				<nav id="nav">
					<ul id="asd">
						<li><a href="/auth/twitter" class="button special" id="signIn">Sign In</a></li>
					</ul>
				</nav>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
            <input type="button" id="deletePoll" class="special small" value="delete">
						<h2 id="pollTitle">Poll Title</h2>
					</header>
				</div>
				<div style="float:left">
					<div class="container 50%">
						<form action="" method="post">
							<div class="row uniform">
								<div class="12u$" id="pollChoices">
								</div>
								<div class="12u$">
									<ul class="actions">
										<li><input type="Submit" value="submit answer" class="special big" id="submitPollAnswer"></li>
										<li id="newChoice">
											<input id="customChoice" type="text" maxlength="20" placeholder="custom choice here">
											<input type="button" id="addChoice" class="special small" value="add choice">
										  </li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
				<div class="container 50%" id="results" style="float:right">
				</div>
        
	</body>
</html>

<script>
  
  var req = new XMLHttpRequest();
  req.open('GET', document.location, false);
  req.send(null);
  var poll = JSON.parse(req.getResponseHeader("poll"));
  
  var currentUser = req.getResponseHeader("currentUser");

  if (currentUser == "") {
    document.querySelector("#newChoice").style = "display:none";
  } else {
    var signIn = document.querySelector("#signIn");
    signIn.innerHTML = "Sign Out";
    signIn.setAttribute("href", "/logout");
    
    var myPolls = document.createElement("a");
    myPolls.setAttribute("id", "myPolls");
    myPolls.setAttribute("class", "button special");
    myPolls.innerHTML = "My Polls";
    myPolls.setAttribute("href", "/mypolls");
    
    
    var newPoll = document.createElement("a");
    newPoll.setAttribute("id", "newPoll");
    newPoll.setAttribute("class", "button special");
    newPoll.innerHTML = "New Poll";
    newPoll.setAttribute("href", "/newpoll");
    
    var allPolls = document.createElement("a");
    allPolls.setAttribute("id", "polls");
    allPolls.setAttribute("class", "button special");
    allPolls.innerHTML = "All Polls";
    allPolls.setAttribute("href", "/polls");
    
    var li = document.createElement("li");
    var lili = document.createElement("li");
    var lilili = document.createElement("li");
    
    
    lilili.append(allPolls);
    document.querySelector("#asd").append(lilili);
    
    lili.append(newPoll);
    document.querySelector("#asd").append(lili);
    
    li.append(myPolls);
    document.querySelector("#asd").append(li);
    //document.querySelector("#asd").createElement("li").append(newPoll);
  }
  
  console.log(JSON.stringify(poll));
  var choices = poll[0]['choices'];
  var title = JSON.stringify(poll[0]['title']).replace(/"/g,'');
  document.querySelector("#pollTitle").innerHTML = title;
  Object.keys(choices).forEach(function(element){
      var radioInput = document.createElement('input');
      var radioLabel = document.createElement('label');
      var radioText = document.createTextNode(element);
      radioInput.setAttribute('value', element);
      radioInput.setAttribute('type', 'radio');
      radioInput.setAttribute('name', 'choice');
      radioInput.setAttribute('id', element);
      radioLabel.setAttribute('for', element);

      //console.log(element);

      //radioLabel.setAttribute('for', )
      radioLabel.append(radioText);
      document.querySelector("#pollChoices").append(radioInput);
      document.querySelector("#pollChoices").append(radioLabel);
      document.querySelector("#pollChoices").append(document.createElement('br'))
  })
  
  
  document.querySelector("#deletePoll").addEventListener("click", function(event){
    
      if(window.confirm("this will delete the poll " + title)){
        window.location = window.location + "/delete"
      };
       
  })
  //var submitButton = document.createElement('button');
  //var submitText = document.createTextNode('answer!')
  //submitButton.setAttribute('id', 'submitPollAnswer');
  //submitButton.append(submitText);
  //document.querySelector("#pollChoices").append(submitButton);
  //alert(JSON.stringify(choices['qwe']))
 //document.querySelector("#pollChoices").innerHTML = JSON.stringify(poll[0]["choices"]);
  
  document.querySelector("#addChoice").addEventListener("click", function(event){
    event.preventDefault();
    
      var element = document.querySelector("#customChoice").value;
      var newInput = document.createElement('input');
      var newLabel = document.createElement('label');
      var newText = document.createTextNode(element);
      newInput.setAttribute('value', element);
      newInput.setAttribute('type', 'radio');
      newInput.setAttribute('name', 'choice');
      newInput.setAttribute('id', element);
      newLabel.setAttribute('for', element);

      newLabel.append(newText);
      document.querySelector("#pollChoices").append(newInput);
      document.querySelector("#pollChoices").append(newLabel);
      document.querySelector("#pollChoices").append(document.createElement('br'))
  })
  
  document.addEventListener("submit", function(e){
    var answer = document.querySelectorAll("input[name='choice']:checked")[0];
    
    if (!answer){
      alert("none selected");
      console.log("none selected");
      e.preventDefault();
    } else {
      /*
      console.log(answer + " selected");
      function httpGetAsync(theUrl, callback){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
              if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                callback(xmlHttp.responseText);   
              } 
            }
             xmlHttp.open("POST", theUrl, true); // true for asynchronous
             xmlHttp.send(answer);
          }

          httpGetAsync(window.location, function(response) {
            console.log("answered: " + answer, response);
        });
      */
    }
  })
  
  
  var pollArray = [];
  Object.entries(poll[0]['choices']).forEach(function(element){
    pollArray.push([element[0],element[1]])
  });
  console.log(pollArray);
  
  //var choices =
  google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'choice');
        data.addColumn('number', 'votes');
        data.addRows(pollArray);
        
        // Set chart options
        var options = {'title': "",
                       sliceVisibilityThreshold:0,
                       'width': 500,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById("results"));
        chart.draw(data, options);
      }
</script>