<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>I just built a voting app</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/views/js/jquery.min.js"></script>
		<script src="/views/js/skel.min.js"></script>
		<script src="/views/js/skel-layers.min.js"></script>
		<script src="/views/js/init.js"></script>
			<link rel="stylesheet" href="/views/css/skel.css" />
			<link rel="stylesheet" href="/views/css/style.css" />
			<link rel="stylesheet" href="/views/css/style-xlarge.css" />
	</head>
	<body class="landing">

		<!-- Banner -->
			<section id="banner" class="wrapper style3 special">
				<h2>I just built a voting app</h2>
				<p>freeCodeCamp's Back End Web Development Certification: Dynamic Web App Project</p>
				<ul class="actions">
					<li>
						<a href="/polls" class="button big special">View Polls</a>
					</li>
					<li>
						<a href="/auth/twitter" class="button big special">Sign In with Twitter <img src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-twitter.svg" style="position:relative; height:45%"></a>
					</li>
				</ul>
			</section>

	</body>
</html>