<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ew Poll</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="views/js/jquery.min.js"></script>
		<script src="views/js/skel.min.js"></script>
		<script src="views/js/skel-layers.min.js"></script>
		<script src="views/js/init.js"></script>
			<link rel="stylesheet" href="views/css/skel.css" />
			<link rel="stylesheet" href="views/css/style.css" />
			<link rel="stylesheet" href="views/css/style-xlarge.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html"></a></h1>
				<nav id="nav">
					<ul id="asd">
						<li><a href="/auth/twitter" class="button special" id="signIn">Sign In</a></li>
					</ul>
				</nav>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>submit a new poll!</h2>
					</header>
				</div>
				<div class="container 50%">
					<form action="#" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input id="newPollTitle" value="" placeholder="Title goes here" type="text">
							</div>
							<div class="12u$">
								<textarea id="newPollChoices" placeholder="Choices separated by newline" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><button type="Submit" id="submitNewPoll" class="special large" value="Submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

	</body>
</html>
<script>

var newPoll = {};
var newChoice = {};
  
  var req = new XMLHttpRequest();
  req.open('GET', document.location, false);
  req.send(null);
  var polls = JSON.parse(req.getResponseHeader("polls"));
  
  var currentUser = req.getResponseHeader("currentUser");

  if (currentUser == "") {
  } else {
    var signIn = document.querySelector("#signIn");
    signIn.innerHTML = "Sign Out";
    signIn.setAttribute("href", "/logout");
    
    var myPolls = document.createElement("a");
    myPolls.setAttribute("id", "myPolls");
    myPolls.setAttribute("class", "button special");
    myPolls.innerHTML = "My Polls";
    myPolls.setAttribute("href", "/mypolls");
    
    
    var newPoll = document.createElement("a");
    newPoll.setAttribute("id", "newPoll");
    newPoll.setAttribute("class", "button special");
    newPoll.innerHTML = "New Poll";
    newPoll.setAttribute("href", "/newpoll");
    
    var allPolls = document.createElement("a");
    allPolls.setAttribute("id", "polls");
    allPolls.setAttribute("class", "button special");
    allPolls.innerHTML = "All Polls";
    allPolls.setAttribute("href", "/polls");
    
    var li = document.createElement("li");
    var lili = document.createElement("li");
    var lilili = document.createElement("li");
    
    
    lilili.append(allPolls);
    document.querySelector("#asd").append(lilili);
    
    lili.append(newPoll);
    document.querySelector("#asd").append(lili);
    
    li.append(myPolls);
    document.querySelector("#asd").append(li);
    //document.querySelector("#asd").createElement("li").append(newPoll);
  }
  
document.querySelector("#submitNewPoll").addEventListener("click", function(e){
  //e.preventDefault();
      if (document.querySelector("#newPollChoices").value == "" || document.querySelector("#newPollTitle").value == "") {
        alert("empty title and/or choice list");
      } else {
          document.querySelector("#submitNewPoll").disabled = true;
          //event.preventDefault();        

          //this part stores the poll info (title,choices:votes) in a JSON object
          var newChoiceArray = document.querySelector("#newPollChoices").value.split('\n');
          
          newPoll = {
            title: document.querySelector("#newPollTitle").value,
            choices: newChoice
          };
        
          newChoiceArray.forEach(function(element){
            newChoice[element] = 0 
          });
          //end 
          function httpGetAsync(theUrl, callback){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                callback(xmlHttp.responseText);
              }
            }
            xmlHttp.open("POST", theUrl, true); // true for asynchronous
            xmlHttp.send(JSON.stringify(newPoll));
          }

          httpGetAsync(window.location, function(response) {
          });
      }
  
},false)
      
</script>
        